<div class="header" ng-controller="NavbarCtrl">
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="currentUser" ng-class="{active: isActive('/settings')}"><a href="/settings">Настройки</a></li>
        <li ng-show="currentUser" ng-class="{active: isActive('/polls/my')}"><a href="/polls/my">Мои опросы</a></li>
        <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Войти</a></li>
        <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Выйти</a></li>
    </ul>
    <h3 class="text-muted">Спроси меня</h3>
</div>