<div ng-include="'partials/navbar.html'"></div>

<div class="row">
    <div class="col-sm-12">
        <h1>Настройки</h1>
    </div>
    <div class="col-sm-12">
        <form class="form user-settings" name="form" ng-submit="update(form)" novalidate>

            <div class="form-group">
                <span class="avatar">
                    <img ng-src="{{ user.newAvatar.resized.dataURL || user.avatar }}"/>
                </span>

                <div class="file-upload">
                    <button class="btn btn-success" type="button" ng-click="changeAvatar()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <input type="file" class="hidden" id="file-input"
                           accept="image/*"
                           image="user.newAvatar"
                           resize-max-height="128"
                           resize-max-width="128">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <label>Имя</label>

                <input name="username" class="form-control" ng-model="user.name" type="text"/>
            </div>

            <div class="form-group">
                <label>Пароль</label>

                <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                       mongoose-error/>

                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.other }}
                </p>
            </div>

            <div class="form-group">
                <label>Новый пароль</label>

                <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"/>

                <p class="help-block"
                   ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                    Пароль не может быть меньше 4 символов.
                </p>
            </div>

            <p class="help-block"> {{ message }} </p>

            <button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
        </form>
    </div>
</div>
