<chartjs data="MyChart.data" is-type="Pie"></chartjs>
<table>
    <tr ng-repeat="choice in MyChart.data">
        <td style="width: 20px; background: {{choice.color}}"></td>
        <td colspan="2">&nbsp;</td>
        <td>{{choice.text}}</td>
    </tr>
</table>