<div ng-include="'partials/navbar.html'"></div>
<div class="page-header">
    <h1>{{poll.question}}</h1>
</div>
<div ng-hide="poll.userVoted">
    <p class="lead">Выберите вариант ответа</p>

    <form role="form" ng-submit="vote()">
        <div ng-repeat="choice in poll.choices" class="radio">
            <label>
                <input type="radio" name="choice" ng-model="poll.userVote"
                       value="{{choice._id}}">
                {{choice.text}}
            </label>
        </div>
        <p>
        <hr>
        </p>
        <div class="row">
            <div class="col-xs-6">
                <a href="/polls" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Вернуться к опросу</a>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary pull-right" type="submit">
                    Голосовать &raquo;</button>
            </div>
        </div>
    </form>
</div>
<div ng-show="poll.userVoted">
    <div ng-include="'partials/poll/chart.html'"></div>
    <p><em>Проголосовало {{poll.totalVotes}}. <span
            ng-show="poll.userChoice">Вы проголосовали за <strong>{{poll.userChoice.text}}
    </strong>.</span></em></p>

    <p>
    <hr>
    </p>
    <div class="col-sm-4">
        <a href="/polls" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Все опросы
        </a>
    </div>
    <div class="col-sm-6" ng-show="$root.currentUser">
        <a href="/polls/my" class="btn btn-success" role="button">
            Мои опросы
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a></div>
</div>
<p>&nbsp;</p>