<div ng-include="'partials/navbar.html'"></div>
<div class="page-header">
    <h1>Список опросов</h1>
</div>
<div class="row">
    <div class="col-xs-5">
        <a href="/polls/new" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            Новый опрос
        </a>
    </div>
    <div class="col-xs-7">
        <input type="text" class="form-control" ng-model="query"
               placeholder="Найти опрос">
    </div>
</div>
<div class="row"><div class="col-xs-12">
    <hr></div></div>
<div class="row" ng-switch on="polls.length">
    <ul ng-switch-when="0">
        <li><em>Не найдено ни одного опроса. Может создашь
            <a href="/polls/new">хотя бы один</a>?</em>
        </li>
    </ul>
    <ul ng-switch-default>
        <li ng-repeat="poll in polls | filter:query">
            <a href="/poll/{{poll._id}}">{{poll.question}}</a>
            <div ng-if="isMyPoll(poll)" class="btn-group btn-group-xs">
                <button type="button" class="btn btn-danger" ng-click="destroy(poll)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-primary" ng-click="reset(poll)">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
        </li>
    </ul>
</div>
<p>&nbsp;</p>