<div ng-include="'partials/navbar.html'"></div>
<div class="page-header">
    <h1>Создать новый опрос</h1>
</div>
<form role="form" ng-submit="createPoll()">
    <div class="form-group">
        <label for="pollQuestion">Вопрос</label>
        <input type="text" ng-model="poll.question" class="form-control"
               id="pollQuestion" placeholder="Напишите вопрос">
    </div>
    <div class="form-group">
        <label>Варианты ответов</label>
        <div ng-repeat="choice in poll.choices">
            <input type="text" ng-model="choice.text" class="form-control"
                   placeholder="Напишите вариант № {{$index+1}}"><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default" ng-click=
                    "addChoice()"><span class="glyphicon glyphicon-plus">
</span> Добавить ещё </button>
        </div>
    </div>
    <p><hr></p>
    <div class="row">
        <div class="col-xs-6">
            <a href="/polls" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Вернуться к списку вопросов</a>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary pull-right" type="submit">
                Создать опрос &raquo;</button>
        </div>
    </div>
    <p>&nbsp;</p>
</form>